/* Use this for all components */

/* class */
.title{
    font-size: 1rem;
    font-weight: bold;
}

/* Tags */
h1{
    font-size: 2.25rem; 
    font-style: normal;
}

h2{
    font-size: 2rem;
    font-style: normal;
}

h3{
    font-size: 1.5rem;
    font-weight: 500;
}

h4{
    font-size: 1.5rem;
    font-style: normal;
}

h5{
    font-size: 1.25rem;
    font-style: normal;
}

caption{
    font-size: 1.25rem;
    font-weight: 200;
}

subtitle {
    font-size: 1rem;
    font-weight: 500;
}

body{
    margin:0;
    font-size: 16px;
    font-style: normal;
}

