.reportRegister{
    background-color: var(--gray-light);
    height: 160vh
}

.reportRegister-content{
    margin: 3% 10% 0% 2%;
}

.reportRegister-title{
    display: flex;
    align-items: center;
}

.reportRegister-info, .reportRegister-options{
    margin-top: 2%;
    margin-left: 5%;
}

.reportRegister-options{
    display: flex;
}

#insert-document{
    margin-top: 5%;
    background-color: var(--green);  
    position: relative;  
}

#insert-document-input{
    opacity: 0.0; 
    position: absolute; 
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0; 
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.fileAdd-container{
    background-color: var(--green-light2);
    max-width: 20%;
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
    position: relative;
}

#deleteFile{
   position: absolute;
   left: 90%;
   font-weight: bold;
   cursor: pointer;
}

.fileAdd-content{
    display: flex;
    padding: 20%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fileAdd-content h6{
    margin-top: 10%;
    word-break: break-all;
}
