#solicitations-sistema .solicitations-content {
  margin: 0 2rem;
}

#solicitations-sistema header {
  display: flex;
  align-items: center;
  padding: 4rem 0;
}

#solicitations-sistema input[type="checkbox"] {
  width: 2rem;
}

#solicitations-sistema .page-sections {
  display: flex;
  width: 100%;
}

#solicitations-sistema .page-sections .filters {
  flex: 1;
  margin-right: 2rem;
}

#solicitations-sistema .page-sections .filters > div:not(:first-child) {
  margin-top: 1.5rem;
}

#solicitations-sistema .page-sections .solicitations {
  flex: 4;
}

#solicitations-sistema .icone-voltar {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

#solicitations-sistema .solicitations .solicitation {
  margin-bottom: 1rem;
}

#solicitations-sistema .solicitations h6 {
  display: flex;
  justify-content: flex-end;
}

#solicitations-sistema .solicitations button {
  width: 100%;
  margin: 2rem 0;
}

#solicitations-sistema .solicitations button:disabled {
  visibility: hidden;
}

a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}