body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#user-page-content{
    height: 100%;
    display: block;
}

#user-page-container {
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
}

#user-page-container section {
    flex-direction: column;
    max-width: 40%;
    background: linear-gradient(90deg, #DEE6DC 0%, #ECF7EA 100%);
    height: 100%;
    padding: 20px;
    margin: 0;
}

#user-page-container section .introduction{
    margin-bottom: 40px;
}

#user-page-container section .item-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 20px 0;
}

#user-page-container section .item-header p:last-child{
    padding-right: 15px;
}

#user-page-container section .item-header p{
    color: var(--gray);
}

#user-page-container section .button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

#user-page-container section a{
    font-size: 1.25rem;
    height: 3.5rem;
    text-decoration: none;
    color: var(--white);
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 500;
    background-color: var(--green-dark);
    border: 0;
    text-align: center;
    align-self: center;
    padding-top: .7rem;
}

#user-page-container section a:hover{
    cursor: pointer;
    text-decoration: none;
    color: var(--white);
}

#user-page-container section .icon{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20px;
    margin-bottom: 20px;
}

#user-page-container section .icon img:hover, .button-max:hover{
    cursor: pointer;
}

#user-page-container .button-max {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--green-light);
    margin-top: 10px;
    margin-left: 10px;
}

#user-page-container section .icon img, .button-max img{
    width: 1.5rem;
    height: 1.5rem;
}

#user-page-container .button-max img{
    width: 2rem;
    height: 2rem;
}

#user-page-container aside{
    display: flex;
    width: 100%;
    height: 100vh;
}

#user-page-container aside .map{
    width: 100%;
    height: 100%;
}

#user-page-container section .button-container > a{
    width: 50%;
    height: 3.75rem;
}