#user-login .page-background{
  background-image: url("../assets/login-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 130vh;
}

#user-login .page-background .page-container{
    display: flex;
    margin-top: 8%;
    margin-right: 1%;
}

#user-login .page-content{
  margin-left: 7%;
  margin-right: 10%;
  width: 45%;
}

@media (max-width:675px){

  #user-login .page-background{
    background-image: url("../assets/background.jpg");
    background-size: cover;
    max-height: 20%
  }

  #user-login .page-container{
    display: flex;
    flex-wrap:wrap ;
    margin-top: 8%;
  }

  #user-login .page-content{
    width: 100%;
  }
}