.admin-navLogin {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #E6EFE4;
}

.admin-navLogin .title a{
    color: #365B2A;
}

.admin-navLogin .logo-container{
    width: 100%;
    justify-content: center;
}

.admin-nav .title a{
    color: #365B2A;
    text-decoration: none;
}

.admin-nav{
    display: flex;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: #E6EFE4;
}

.admin-nav .menu-items{
    display:flex;
    width:50%;
}

.admin-nav ul li{
    list-style: none;
    font-style: none;
    margin-right: 15%;
}

.admin-nav ul li .nav-links{
    font-size: 1em;
    color: black;
}

.subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    background-color: inherit;
    font-family: inherit;
    width: 100%;
}

.subnav {
    float: left;
    overflow: hidden;
    margin-right: 15%;
}

.subnav:hover .subnavbtn {
    background-color: #E6EFE4;
  }
  
  /* Style the subnav content - positioned absolute */
.subnav-content {
    display: none;
    position: absolute;
    left: 20;
    background-color: #E6EFE4;
    width: 20%;
    z-index: 1;
}
  
.subnav-content a {
    float: none;
    padding: 2%;
    border-bottom: 2px solid white;
    color: black;
    display: flex;
    text-decoration: none;
}

.subnav-content a:hover {
    background-color: #eee;
    color: black;
}
.subnav:hover .subnav-content {
    display: block;
}
