#big-list-item {
    display: flex;
}

#big-list-item .imagem {
    flex: 1;
    background-color: black;
    border-radius: 10px 0px 0px 10px;
}

#big-list-item .list-item-content {
    flex: 4;
    padding: 1rem;
    background-color: var(--green-light);
    border-radius: 0px 10px 10px 0px;
    width: 100%;
    transition: filter 0.2s;
    position: relative;
}

#big-list-item p .body {
    margin-bottom: 1rem;
}

#big-list-item span {
    display: block;
}

#big-list-item a {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
}

#big-list-item:hover {
    filter: brightness(95%);
}

#big-list-item .list-item-content .priority {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 1rem;
    top: 1rem;
    background-color: var(--white);
    height: 1.8rem;
    width: 13rem;
    border-radius: 10px;
}
