#form-solicitation{
    background-color: var(--gray-light);
}

#form-solicitation form label, #form-solicitation form input, #form-solicitation form textarea, #form-solicitation form select{
    display: block;
    margin: 1rem 2rem 0;
}

#form-solicitation form input, #form-solicitation form textarea{
    width: 90%;
}

#form-solicitation form label{
    font-size: 1.25rem;
    margin-bottom: 1rem;
    font-weight: 500;
    color: var(--black);
}

#form-solicitation form > input{
    height: 2.5rem;
}

#form-solicitation form textarea{
    padding: .5rem;
    height: 10rem;
}

#form-solicitation form #button-container{
    display: flex;
    flex-direction: row;
}

#form-solicitation form #button-container button{
    max-width: 30%;
}

#form-solicitation form #button-container button:hover, form input:last-child:hover{
    cursor: pointer;
}

#form-solicitation form select {
    height: 2.5rem;
    border-radius: 5px;
    width: 20%;
    padding: 4px;
}

#form-solicitation .photo-input{
    padding: 0;
    background-color: transparent;
    border: none;
}

#form-solicitation #button-container{
    display: flex !important;
    flex-direction: row;
    align-items: flex-end;
}

#form-solicitation #button-container button{
    padding: 0;
    margin: 3% !important;
    max-height: 100px;
    max-width: 30% !important;
    width: 25%;
    height: 3.5rem;
}

#form-solicitation #cancel-button{
    background-color: transparent !important;
    border: 1px solid var(--green);
    color: var(--green-dark);
}