#list-item {
    display: flex;
    align-items: center;
    min-width: 27.5rem;
    min-height: 5rem;
    background-color: var(--green-light);
    border-radius: 10px;
    transition: filter 0.2s;
}

#list-item:hover {
    filter: brightness(95%);
}

#list-item .list-item-content {
    margin-left: 1rem;
}

#list-item .list-item-content .infos {
    display: flex;
    align-items: center;
}

#list-item .list-item-content .infos .priority {
    margin-left: 1rem;
}


@media screen and (max-width: 400px) {
    #list-item {
        min-width: 24rem;
        min-height: 5rem;
    }
}
