.logo-container {
    display: flex;
    margin-left: 2%;
    width: 40%;
}

#user-nav .logo-container .title {
    color:#365B2A;
    cursor: pointer;
    text-decoration: none;
}

#user-nav .menu-items{
    display:flex;
    width:100%;
}

#user-nav{
    display: flex;
    padding-top: 10px;
    padding-bottom: 5px;
    width: 100%;
    background-color: #E6EFE4;
}

#user-nav ul li{
    list-style: none;
    font-style: none;
    cursor: pointer;
    margin-right: 15%;
}

#user-nav ul li .nav-links{
    font-size: 1em;
    color: black;
}

#user-nav ul li .nav-links:hover{
    color: #365B2A;
    text-decoration: none;
}

#user-nav .login-nav{
    margin-right: 5%;
}

#user-nav .login-nav a{
    color:black;
    text-decoration: none;
}

#user-nav .login-nav a:hover{
    color: #365B2A;
    background-color: red;
    cursor: pointer;
}